
\.vs/TOF_FieldData/xs/sqlite3/db\.lock

\.vs/TOF_FieldData/xs/sqlite3/storage\.ide

\.vs/TOF_FieldData/xs/sqlite3/storage\.ide-shm

\.vs/TOF_FieldData/xs/sqlite3/storage\.ide-wal

\.vs/TOF_FieldData/xs/UserPrefs\.xml
\.vs
bin/
UpgradeLog.htm
.ds_store

*.cache

TOF_FieldData/obj/

TestData/
